<div class="form-group">
  <label>Title</label>
  <input type="text" name="title" class="form-control" value="<%= event.title %>">
</div>
<div class="form-group">
  <label>User</label>
  <select name="user" class="form-control">
    <% users.forEach(user => { %>
    <% if (user.id === event.user) { %>
    <option selected label="<%= user.name %>" value="<%= user.id %>">
      <% } else { %>
    <option label="<%= user.name %>" value="<%= user.id %>">
      <% } %>
      <% }) %>
  </select>
</div>
<div class="form-group">
  <label>Sport</label>
  <select name="sport" id="sport" class="form-control">
    <option value="<%= event.sport%>" selected="selected"> -- choose one --
    <option>Soccer
    <option>Basketball
    <option>Volleyball
    <option>Tennis
    <option>Football
  </select>
</div>
<div class="form-group">
  <label>Event Date</label>
  <input type="date" class="form-control" name="date"
    value="<%= event.date == null ? '' : event.date.toISOString().split('T')[0] %>">
</div>
<div class="form-group">
  <label>Event Time</label>
  <input type="time" class="form-control" name="time" value="<%= event.time %>">
</div>
<div class="form-group">
  <label>Description</label>
  <textarea class="form-control" name="description"><%= event.description %></textarea>
</div>